<a href="https://colab.research.google.com/github/hasiboya21/Dash-Cloud-IDE/blob/main/maths/maths_joins.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("shop.db")
cur = conn.cursor()

print("Connected successfully.")

Connected successfully.

In [2]:
cur.execute("""
CREATE TABLE IF NOT EXISTS customers (
    customer_id INTEGER PRIMARY KEY AUTOINCREMENT,
    first_name TEXT,
    last_name TEXT,
    city TEXT
);
""")

cur.execute("""
CREATE TABLE IF NOT EXISTS products (
    product_id INTEGER PRIMARY KEY AUTOINCREMENT,
    product_name TEXT,
    category TEXT,
    price REAL
);
""")

cur.execute("""
CREATE TABLE IF NOT EXISTS orders (
    order_id INTEGER PRIMARY KEY AUTOINCREMENT,
    customer_id INTEGER,
    order_date TEXT,
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
);
""")

cur.execute("""
CREATE TABLE IF NOT EXISTS order_items (
    order_item_id INTEGER PRIMARY KEY AUTOINCREMENT,
    order_id INTEGER,
    product_id INTEGER,
    quantity INTEGER,
    FOREIGN KEY (order_id) REFERENCES orders(order_id),
    FOREIGN KEY (product_id) REFERENCES products(product_id)
);
""")

conn.commit()
print("All tables created.")

All tables created.

In [3]:
cur.executemany("""
INSERT INTO customers (first_name, last_name, city)
VALUES (?, ?, ?);
""", [
    ('Alice', 'Brown', 'London'),
    ('Bob', 'Smith', 'Manchester'),
    ('Charlie', 'Jones', 'London'),
    ('Daisy', 'Taylor', 'Birmingham')
])

cur.executemany("""
INSERT INTO products (product_name, category, price)
VALUES (?, ?, ?);
""", [
    ('Laptop', 'Electronics', 800),
    ('Phone', 'Electronics', 500),
    ('Desk', 'Furniture', 300),
    ('Chair', 'Furniture', 150),
    ('Notebook', 'Stationery', 5)
])

cur.executemany("""
INSERT INTO orders (customer_id, order_date)
VALUES (?, ?);
""", [
    (1, '2026-01-10'),
    (2, '2026-01-11'),
    (1, '2026-01-15'),
    (3, '2026-01-20')
])

cur.executemany("""
INSERT INTO order_items (order_id, product_id, quantity)
VALUES (?, ?, ?);
""", [
    (1, 1, 1),
    (1, 5, 10),
    (2, 2, 2),
    (3, 3, 1),
    (3, 4, 2),
    (4, 1, 1),
    (4, 2, 1)
])

conn.commit()
print("Sample data inserted.")

Sample data inserted.

Calculate revenue per order

In [ ]:
pd.read_sql_query("""
SELECT oi.order_item_id, o.product_name, p.price, oi.quantity, oi.quantity*p.price AS Revenue
""", conn)

Total revenue - company

In [ ]:
pd.read_sql_query("""

""", conn)

Revenue per customer

In [5]:
pd.read_sql_query("""
SELECT c.first_name, c.last_name, SUM(oi.quantity*p.price) AS Revenue
FROM customers AS c
JOIN orders AS o ON c.customer_id = o.customer_id
JOIN order_items AS oi ON o.order_id = oi.order_id
JOIN products AS p ON oi.product_id = p.product_id
GROUP BY c.customer_id
""", conn)

  first_name last_name  Revenue
0      Alice     Brown   1450.0
1        Bob     Smith   1000.0
2    Charlie     Jones   1300.0

Revenue per category

In [ ]:
pd.read_sql_query("""

""", conn)

Customers spending more than 1000

In [6]:
pd.read_sql_query("""
SELECT c.first_name, c.last_name, SUM(oi.quantity*p.price) AS Revenue
FROM customers AS c
JOIN orders AS o ON c.customer_id = o.customer_id
JOIN order_items AS oi ON o.order_id = oi.order_id
JOIN products AS p ON oi.product_id = p.product_id
GROUP BY c.customer_id
HAVING Revenue > 1000
""", conn)

  first_name last_name  Revenue
0      Alice     Brown   1450.0
1    Charlie     Jones   1300.0