<a href="https://colab.research.google.com/github/hasiboya21/Dash-Cloud-IDE/blob/main/maths/simple_maths.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create Database

In [1]:
import sqlite3
import pandas as pd

# Create or connect to a database file
conn = sqlite3.connect("shop.db")
cur = conn.cursor()

print("Database connected successfully.")

Database connected successfully.

Create simple Table

In [2]:
cur.execute("""
CREATE TABLE IF NOT EXISTS sales (
    sale_id INTEGER PRIMARY KEY AUTOINCREMENT,
    product_name TEXT,
    category TEXT,
    price REAL,
    quantity INTEGER
);
""")

conn.commit()
print("Table created.")

Table created.

Insert sample data

In [3]:
cur.executemany("""
INSERT INTO sales (product_name, category, price, quantity)
VALUES (?, ?, ?, ?);
""", [
    ('Laptop', 'Electronics', 800, 2),
    ('Phone', 'Electronics', 500, 3),
    ('Headphones', 'Electronics', 100, 5),
    ('Desk Chair', 'Furniture', 150, 4),
    ('Desk', 'Furniture', 300, 2),
    ('Notebook', 'Stationery', 5, 20),
    ('Pen Pack', 'Stationery', 10, 10)
])

conn.commit()
print("Data inserted.")

Data inserted.

View all data

In [5]:
df = pd.read_sql_query("SELECT * FROM sales", conn)
df

   sale_id product_name     category  price  quantity
0        1       Laptop  Electronics  800.0         2
1        2        Phone  Electronics  500.0         3
2        3   Headphones  Electronics  100.0         5
3        4   Desk Chair    Furniture  150.0         4
4        5         Desk    Furniture  300.0         2
5        6     Notebook   Stationery    5.0        20
6        7     Pen Pack   Stationery   10.0        10

Calculate the AVG Price

In [6]:
pd.read_sql_query("""
SELECT AVG(price) AS "Average Price" FROM Sales
""", conn)

   Average Price
0     266.428571

Calculate Total Quantity Sold

In [7]:
pd.read_sql_query("""
SELECT SUM(quantity) AS "Total Quantity Sold" FROM Sales
""", conn)

   Total Quantity Sold
0                   46

Calculate Highest and Lowest Price

In [8]:
pd.read_sql_query("""
SELECT MAX(price) AS "Highest Price", MIN(price) AS "Lowest Price" FROM Sales
""", conn)

   Highest Price  Lowest Price
0          800.0           5.0

Calculate total revenue

Calculate revenue per product

In [13]:
pd.read_sql_query("""
SELECT product_name, SUM(price*quantity) AS Revenue FROM Sales
GROUP BY product_name
""", conn)

  product_name  Revenue
0         Desk    600.0
1   Desk Chair    600.0
2   Headphones    500.0
3       Laptop   1600.0
4     Notebook    100.0
5     Pen Pack    100.0
6        Phone   1500.0

Calculate revenue per category

In [14]:
pd.read_sql_query("""
SELECT category, SUM(price*quantity) AS Revenue FROM Sales
GROUP BY category
""", conn)

      category  Revenue
0  Electronics   3600.0
1    Furniture   1200.0
2   Stationery    200.0

Calculate average price per category

In [16]:
pd.read_sql_query("""
SELECT category, AVG(price*quantity) AS "Average_Revenue" FROM Sales
GROUP BY category
""", conn)

      category  Average_Revenue
0  Electronics           1200.0
1    Furniture            600.0
2   Stationery            100.0

Calculate count products per category

In [17]:
pd.read_sql_query("""
SELECT category, COUNT(product_name) AS "Count_Products" FROM Sales
GROUP BY category
""", conn)

      category  Count_Products
0  Electronics               3
1    Furniture               2
2   Stationery               2

Which category has a revenue greater than 2000

In [18]:

pd.read_sql_query("""
SELECT category, SUM(price*quantity) AS Revenue FROM Sales
GROUP BY category
HAVING Revenue > 2000
""", conn)

      category  Revenue
0  Electronics   3600.0